sources:
  in:
    type: http_server
    address: ${HOST}:${PORT}
    headers:
      - "*"

transforms:
  modify:
    type: remap
    inputs:
      - in
    source: |
      message_json = parse_json!(del(.message))
      request_metadata = .
      . = { "message": message_json, "request_metadata": request_metadata }
  sample:
    type: sample
    inputs:
      - modify
    rate: 10 # 1 out of 10 events will be passed through

sinks:
  console_out:
    type: console
    encoding:
      codec: json
    inputs:
      - sample
  out:
    inputs:
      - modify
    type: gcp_cloud_storage
    bucket: ${GCS_BUCKET_NAME:?the bucket name must be supplied via GCS_BUCKET_NAME env var}
    encoding:
      codec: json
    framing:
      method: newline_delimited
    batch:
      max_events: ${GCS_BATCH_MAX_EVENTS:-1000}
      timeout_secs: ${GCS_BATCH_TIMEOUT_SECS:-300}
    key_prefix: year=%Y/month=%m/day=%d/
  out_s3:
    inputs:
      - modify
    type: aws_s3
    bucket: ${S3_BUCKET_NAME:?the bucket name must be supplied via S3_BUCKET_NAME env var}
    encoding:
      codec: json
    framing:
      method: newline_delimited
    batch:
      max_events: ${GCS_BATCH_MAX_EVENTS:-1000}
      timeout_secs: ${GCS_BATCH_TIMEOUT_SECS:-300}
    key_prefix: year=%Y/month=%m/day=%d/

